//layout.scss

.d-block{

    display:block;
}

.d-none{

    display:none;

}

.d-flex{

    display:flex;

}


.flex-stye-1{

    display:flex;
    align-items: center;
    justify-content: center;
    
}

.flex-stye-2{

    display:flex;
    align-items: center;
    justify-content: space-between;

}

.flex-stye-3{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.flex-stye-4{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.overflowX-hidden{overflow-x:hidden;}

.m0-auto{margin:0 auto;}


.position-fixed{ position: fixed; z-index:100;}