//simple.scss

.fz-12{font-size: 12px;}
.fz-16{ font-size: 16px;}
.fz-18{ font-size: 18px;}
.fz-20{ font-size: 20px;}
.fz-25{ font-size: 25px;}
.fz-30{ font-size: 30px;}

.font-lighter{font-weight: 300;}
.font-normal{font-weight: 400;}
.font-500{font-weight: 500;}
.font-bold{font-weight: 700;}
.font-extra{font-weight: 900;}

.color-f { color:#fff;}
.color-0 { color:#000;}
.color-3 { color:#333;}
.color-5 { color:#555;}

.text-uppercase { text-transform: uppercase;}
.text-capitalize { text-transform: capitalize;}

.text-deco-none{

   text-decoration: none;

}

.ul_style_none{

   list-style: none;
   
}

.w-100-per{width: 100%;}
.h-100-per{height: 100%;}

.w-100{width:100px;}
.w-200{width:200px;}
.w-300{width:300px;}
.w-400{width:400px;}
.w-500{width:500px;}
.w-800{width:800px;}

.h-100{height:100px;}
.h-200{height:200px;}
.h-300{height:300px;}
.h-400{height:400px;}
.h-500{height:500px;}
.h-800{height:800px;}


.text-align-center{ text-align: center;}

.align-items-center{align-items: center;}
.justify-content-center{ justify-content: center;}


.overflow-hidden {overflow: hidden;}

.pt-10{padding-top: 10px;}
.pt-30{padding-top: 30px;}
.pt-50{padding-top: 50px;}
.pt-100{padding-top: 100px;}
.pt-200{padding-top: 200px;}
.pb-10{padding-bottom: 10px;}
.pb-30{padding-bottom: 30px;}
.pb-50{padding-bottom: 50px;}
.pb-100{padding-bottom: 100px;}
.pb-200{padding-bottom: 200px;}
.pl-0{padding-left: 0px;}
.pl-10{padding-left: 10px;}
.pl-30{padding-left: 30px;}
.pl-50{padding-left: 50px;}
.pl-100{padding-left: 100px;}
.pl-200{padding-left: 200px;}
.pr-10{padding-right: 10px;}
.pr-30{padding-right: 30px;}
.pr-50{padding-right: 50px;}
.pr-100{padding-right: 100px;}
.pr-200{padding-right: 200px;}

.mt-10{margin-top: 10px;}
.mt-30{margin-top: 30px;}
.mt-50{margin-top: 50px;}
.mt-100{margin-top: 100px;}
.mt-200{margin-top: 200px;}
.mb-10{margin-bottom: 10px;}
.mb-30{margin-bottom: 30px;}
.mb-50{margin-bottom: 50px;}
.mb-100{margin-bottom: 100px;}
.mb-200{margin-bottom: 200px;}
.ml-0{margin-left: 0px;}
.ml-10{margin-left: 10px;}
.ml-30{margin-left: 30px;}
.ml-50{margin-left: 50px;}
.ml-100{margin-left: 100px;}
.ml-200{margin-left: 200px;}
.mr-10{margin-right: 10px;}
.mr-30{margin-right: 30px;}
.mr-50{margin-right: 50px;}
.mr-100{margin-right: 100px;}
.mr-200{margin-right: 200px;}