//various.scss

$mainColor : #009dcd;
$subColor : #4ca2cd;
$impactColor : #ff3939;

$font-color-0 :#000;
$font-color-3 :#333;
$font-color-5 :#555;
$font-color-f :#fff;
$font-color-sky : #87dbf5;


.background-b{

    color:#000;
}

.background-w{

    color:#fff;

}

