//category.scss

#prd_top{

.pdBox{

    .pd_img{

        width:300px;
        height:300px;
    
    }

}
.pdBox:hover{

    cursor: pointer;

}

}

.dark{

    position:fixed;
    top:0;
    left:0;
    margin:0 auto;
    z-index:30;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: none;


    &.on{

        display:block;
    }

    .popUp{

        position:fixed;
        top:30%;
        left:39%;
        margin:0 auto;
        z-index:30;
        display: none;
    
    
        img{
    
            width: 350px;
            height: 350px;
            display: block;
            margin:0 auto;
            object-fit: cover;
        }
    
        p{
    
            font: 14px;
            color:#fff;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 700;
            padding-top:10px;
        }
    
    
        &.on{
    
            display: block;
        }
    }
    
}


@media (max-width:980px){

    #prd_top{

        height:400px;
    
    .pdBox{

    .pd_img{
    
        width: 150px;
        height: 150px;

    }

   }

}

.dark{

    .popUp{

        img{

            width:200px;
            height:200px;
        }
    }

}

}
