ul li { list-style: none;}
.footer{

    width: 100%;
    height:500px;
    padding: 50px 0px 0px;
    background-color: #000;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position:relative;
    bottom:0;
  


    ul{

      width:calc(20% - 15px);
      height:100%;
      display: flex;
      flex-direction: column;
      padding: 50px 0px 0px;



      li{

        color:#fff;
        display: flex;
        align-items: center;
        margin:5px;
        line-height:20px;

        p{

            font-size: 13px;
            width:80%;

        }
      }

      img{

        width: 100px;
        height: 50px;
        filter: invert(100%);
    }

    }
  
    ul:nth-child(1){

       li{

        p{
            
         font-size: 16px;

        }

        
        }

        li:nth-child(1){

            color:#ffcc00;
        }
    }
    
}

@media (max-width:980px){

  .footer{

    height:400px;

    ul{

      flex:1;
      padding: 0px;
      margin:0 auto;

       li {
       
        margin:0px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        p{

          font-size: 11px;
          text-align: center;
          margin-bottom:0px!important;

        }
       }

       img{

        height:50px;
        display: block;
        text-align: center;
        margin:0 auto;
        

    }

    }


    ul:nth-child(1){

      li{

        p{

          font-size: 11px;
        }
      }


    }


  }
}